apiVersion: apps/v1
kind: Deployment
metadata:
  name: finance-app
  labels:
    app: finance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: finance
  template:
    metadata:
      labels:
        app: finance
    spec:
      containers:
      - name: finance-container
        image: ashwinr2001/financedev:{{ build_tag }}
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: finance-service
spec:
  selector:
    app: finance
  ports:
    - protocol: TCP
      port: 8081         # Cluster-internal port
      targetPort: 8081   # Container port
      nodePort: 30000     # External port on EC2 host
  type: NodePort
